<div class="nav__container">
  <h2 class="messages__title">Chat en vivo</h2>
</div>
<div class="chat__container">
  <div class="chat__messagesContainer" id="chat__messagesContainer">
  </div>

  <div class="chat__messageForm">

    <input
      class="chat__input"
      id="responseTo"
      type="text"
      placeholder="Respuesta para:(Id-mensaje)"
      required="true"
    />

    <input
      class="chat__input"
      id="message"
      type="text"
      placeholder="Ingresar mensaje"
      required="true"
    />

    <button type="button" onclick="addMessage()" class="chat__sendButton">
      Enviar
    </button>
  </div>
</div>

<script src="/scripts/chat_messages.js"></script>