<div class="nav__container">
  <h2 class="messages__title">Mensajes enviados por el usuario</h2>
</div>
<div class="chat__container">
  <div class="chat__messagesContainer" id="chat__messagesContainer">
  </div>
</div>

<script src="/sockets.js"></script>